@charset "UTF-8";
a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
a:hover {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  background: #fff;
  border: none;
  border-radius: 0;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

.wrapper {
  display: flex;
  width: 100%;
}

#sidebar-wrapper {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #192934;
  color: #fff;
  transition: all 0.3s;
  overflow-y: auto;
}
#sidebar-wrapper .sidebar-header {
  padding: 14px;
}
#sidebar-wrapper ul.components {
  padding: 0 0 20px;
  border-bottom: 1px solid #47748b;
}
#sidebar-wrapper ul.components li {
  border-top: 1px solid #354048;
}
#sidebar-wrapper ul p {
  color: #fff;
  padding: 10px;
}
#sidebar-wrapper ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar-wrapper ul li a:hover {
  color: #7386D5;
  background: #fff;
}
#sidebar-wrapper ul li.active > a {
  color: #fff;
  background: #6d7fcc;
}

#sidebar-wrapper.active {
  margin-left: -250px;
}

a[aria-expanded=true] {
  color: #fff;
  background: #6d7fcc;
}

a[data-toggle=collapse] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.action-more {
  padding: 20px;
}
ul.action-more a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article {
  background: #6d7fcc !important;
  color: #fff !important;
}
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

#content {
  width: calc(100% - 250px);
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#content.active {
  width: 100%;
}

.navbar-fixed {
  width: calc(100% - 250px);
  margin-left: 250px;
}

.navbar-fixed.active {
  margin-left: 0;
  width: 100%;
}

.mCSB_inside > .mCSB_container {
  margin-right: 0;
}

.navbar-nav {
  display: inline-block;
}
.navbar-nav > li {
  display: inline-block;
  padding: 10px;
}
.navbar-nav > li.active {
  background: #30b8d9;
  color: #fff;
}

.quiz-wrapper {
  margin: 110px auto 70px;
}
.quiz-wrapper p.text-label {
  color: #f7851f;
  font-size: 15px;
  font-weight: 700;
}
.quiz-wrapper .question-title {
  padding: 20px 0 10px;
  overflow: auto;
}
.quiz-wrapper .reason-label {
  color: #f7851f;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 700;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
.quiz-wrapper .options {
  position: relative;
}
.quiz-wrapper .option {
  position: relative;
}
.quiz-wrapper .option label {
  display: block;
  min-height: 50px;
  padding: 12px 15px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}
.quiz-wrapper .option:hover {
  background-color: #eee;
  cursor: pointer;
}
.quiz-wrapper .option input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  top: 18px;
}
.quiz-wrapper .option input:checked + label {
  border: 1px solid #55bbea;
}
.quiz-wrapper .crossmark, .quiz-wrapper .checkmark {
  font-size: 15px;
  font-weight: 600;
  color: #328df5;
  padding-bottom: 30px;
}
.quiz-wrapper .checkmark {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 22px;
  width: 22px;
  background-color: #79d70f;
  border-radius: 2px;
  padding: 0;
}
.quiz-wrapper .checkmark:after {
  content: "✔";
  position: absolute;
  background-color: #79d70f;
  display: block;
  color: #fff;
  padding-left: 4px;
  width: 22px;
  font-size: 16px;
  transition: 100ms ease-out 1s;
}
.quiz-wrapper .crossmark {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 22px;
  width: 22px;
  background-color: #ec3838;
  border-radius: 2px;
  padding: 0;
}
.quiz-wrapper .crossmark:after {
  content: "✔";
  position: absolute;
  background-color: #79d70f;
  display: block;
  color: #fff;
  padding-left: 4px;
  width: 22px;
  font-size: 16px;
  content: "✕";
  background-color: #ec3838;
  transition: 100ms ease-out 1s;
}
.quiz-wrapper .reason .bl-green {
  border-left: 3px solid green;
}
.quiz-wrapper .reason .bl-red {
  border-left: 3px solid red;
}
.quiz-wrapper .overlay-anwsers {
  cursor: not-allowed;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.number-question.correct {
  background: #00800033;
}

.number-question.failed {
  background: #ff00002b;
}

.quiz-content {
  padding: 20px;
  padding-bottom: 50px;
}

@media (max-width: 768px) {
  #sidebar-wrapper {
    margin-left: -250px;
  }

  .navbar-fixed {
    margin-left: 0;
    width: 100%;
  }

  #sidebar-wrapper.active {
    margin-left: 0;
  }

  #content {
    width: 100%;
  }

  #content.active {
    width: calc(100% - 250px);
  }

  .navbar-fixed.active {
    width: calc(100% - 250px);
    margin-left: 250px;
    min-width: 250px;
  }

  #sidebarCollapse span {
    display: none;
  }
}
.scroll-off {
  overflow: hidden;
  position: relative;
  display: flex;
  width: 100%;
  height: 50px;
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.scroll-on {
  position: relative;
  overflow-x: scroll;
  display: flex;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  height: 100px;
}

.scroll-slider ul {
  display: flex;
  width: auto;
  height: 50px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.scroll-slider ul li {
  scroll-snap-align: start;
  border-right: 1px solid #dedede;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 75px;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.scroll-slider ul li.active {
  background: #30b8d9 !important;
  color: #fff;
  position: relative;
}

.scroll-slider ul li.active:after {
  content: "/" attr(total-number);
  color: #fff;
  font-size: 12px;
  font-weight: 900;
  margin-top: 10px;
}

.scroll-overlay {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 70px;
  z-index: 5;
  pointer-events: none;
  transition: opacity 200ms ease;
}

.scroll-overlay i {
  position: relative;
  top: 34%;
  padding: 0 3px;
}

.scroll-overlay:first-of-type {
  left: 0;
  opacity: 0;
  background-image: linear-gradient(to right, white, rgba(255, 255, 255, 0));
}

.scroll-overlay:last-of-type {
  right: 0;
  background-image: linear-gradient(to left, white, rgba(255, 255, 255, 0));
}

.timer-clock {
  font-weight: 900;
  font-size: 20px;
  color: #fff;
}

.submit-test {
  border: 1px solid #fff;
  border-radius: 20px;
  background: #fff;
  color: #ef7435;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 15px;
  cursor: pointer;
}

.submit-test:hover {
  background-color: #17a2b8;
  color: #fff;
}

.exit-exam {
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
